@import "colors.scss";
@import "nav.scss";

/* Variables */
$header-font: Arial, Helvetica, Sans-Serif;
$span-font: 'Sacramento', 'cursive';

// Mixin or Extend for button
@mixin button-style {
    color: $white-color;
    font-size: 12px;
    height: 40px;
    border: none;
}

body {
    background-color: $orange-color;
}
/* Nest Main */
main {
    width: 1350px;
    min-height:535px;
    color: $black-color;
    background-color: $white-color;
    padding: 15px;

    #intro-text {
        padding-top: 120px;
        background-color: $gray-color;
        text-align: center;
        width: 40%;
        float:left;
        height: 415px;

        span {
            font-family: $span-font;
            font-size: 30px;
        }

        h3 { 
            font-family: $header-font;
            font-size: 30px;
        }
    }

    #intro-image {
        top: 50%;
        width: 60%;
        float: left;

        img {
            height: 535px;
        }
    }

    .submit-button {
        @include button-style;
        background-color: $orange-color;
    }
}

footer {
    margin-left: 60px;
    margin-top: 30px;
}